* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma, Serif;
    color: #263238;
    margin: 0;
    min-height: 100vh;
    background-color: #e2e8ea;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #e2e8ea;
    border-bottom: black solid .1em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    padding-left: 1rem;
}

nav a {
    text-decoration: none;
    color: #0d47a1
}

#uyuni {
    display: block;
    max-width: 100%;
    height: calc(100vh-50px);
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e2e8ea;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    border-top: black solid .1em;
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    display: flex;
    height: 100%;
}

.photos {
    flex: 50%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.text {
    flex: 50%;
    padding: 40px;
}

ul.bio-bullets {
    font-size: 1em;
    line-height: 2;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* social icons styling */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
    background: #3B5998;
    color: white;
}

.fa-github {
    background: #55ACEE;
    color: white;
}

/* nav and images styling for phones */
@media only screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        padding-top: 0.5rem;
    }

    nav li {
        padding: 0.5rem 0;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}